version: "3.7"

services:
  object-store-db:
    image: "postgres:10"
    env_file:
      - ${BASE_PATH_TO_OBJECT_STORE:-.}/pg.env
    volumes:
      - ${BASE_PATH_TO_OBJECT_STORE:-.}/src/test/resources/create-test-users.sql:/docker-entrypoint-initdb.d/1-init-schema.sql

  minio:
    image: minio/minio
    volumes:
      - ./minio-data:/data
    env_file:
      - ${BASE_PATH_TO_OBJECT_STORE:-.}/minio.env
    command: server /data

  object-store-api:
    build: ${BASE_PATH_TO_OBJECT_STORE:-.}
    ports:
      - "8081:8080"
    env_file:
      - ${BASE_PATH_TO_OBJECT_STORE:-.}/object-store-api.env
    networks:
      default:
