version: "3.7"

services:
  object-store-db:
    image: "postgres:10"
    env_file:
      - ${PATH_FROM_COMPOSE:-.}/pg.env
    volumes:
      - ${PATH_FROM_COMPOSE:-.}/src/test/resources/create-test-users.sql:/docker-entrypoint-initdb.d/1-init-schema.sql

  minio:
    image: minio/minio
    volumes:
      - ./minio-data:/data
    env_file:
      - ${PATH_FROM_COMPOSE:-.}/minio.env
    command: server /data

  object-store-api:
    build: ${PATH_FROM_COMPOSE:-.}
    ports:
      - "8081:8080"
    env_file:
      - ${PATH_FROM_COMPOSE:-.}/object-store-api.env
    environment:
      KEYCLOAK_HOST_IP: ${KEYCLOAK_IP}
    networks:
      default:
